@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 197 78% 52%;
    --primary-foreground: 197 80% 10%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215.4 16.3% 46.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 288 68% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 197 78% 52%;
    --radius: 0.5rem;
    --chart-1: 197 78% 52%;
    --chart-2: 142.1 76.2% 36.3%;
    --chart-3: 288 68% 54%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 20%;
    --foreground: 0 0% 98%;
    --card: 0 0% 23%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 78% 52%;
    --primary-foreground: 197 80% 10%;
    --secondary: 0 0% 28%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 288 68% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 197 78% 52%;
    --chart-1: 197 78% 52%;
    --chart-2: 142.1 76.2% 36.3%;
    --chart-3: 288 68% 54%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
